.certificates {
    & h2{
    text-align: center;  
    @extend %h1;
    font-size: 16pt;
    margin: 5rem 0;
    text-transform: uppercase;
    color: $dark-blue;
}
    & img{
            @extend %size;
    }

}

.carousel__container{
    margin-bottom: 5rem;
}
.certificates__container{
    margin: 0;
}
.carousel-certificates{
    display: flex;
    gap:2rem;
    width: 90vw;
    margin: 0 auto 5rem;

    @media (max-width: 540px) {
    flex-direction: column;
    }
}



    .carousel-indicators{
        display: none;
    }

}