.form {
    background-color: #1971C2;
    height: 60Vh;
    .mainform{
        display: block;
        position: absolute;
        width: 45%;
        height: 50%;
        left: 25%;
        margin-top: 100px;
        color: #F0F9FF;
        font-size: 1em;
        p{
            font-size: 1.25em;
        }
    }
}
input, textarea{
    width: 80%;
    background-color: #1971C2;
    outline: none;
    border: none;
    color: #F0F9FF;
    padding-left: 10px;
}

textarea{
    width: 85%;
    height: 20%;
}

.buttonform{
    border-radius: 30px;
    width: 20vh;
    height: 5vh;
    font-size: 1em;
    background-color: #F0F9FF;
    border: solid 1px #1971C2;
    color: #1971C2;
}

.button{
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    height: 8vh;
    background-color: #F0F9FF;
    .inform{
        font-size: 1em;
        color: #1971C2;
        text-decoration: none;
        padding-right: 1.5em;
        padding-top: 3vh;

    }
}


@media screen and (max-width: 899px){
    .form{
        height: 55Vh;

    }
    .buttonform {
        border-radius: 30px;
        width: 15vh;
        height: 4vh;
    }
}