.form {
    background-color: #1971C2;
    height: 75Vh;
    .mainform{
        display: block;
        position: absolute;
        width: 45%;
        left: 25%;
        margin-top: 72px;
        color: #F0F9FF;
        
        h3 {
            @extend %h3;
            font-size: 1em;
            color: $font-color-light;
        }
        p {
            @extend %p;
            font-size: 1em;
            color: $font-color-light;
            
        }
        label {
            @extend %p;
            font-size: 0.8em;
            color: $font-color-light;
            
        }
        .buttonform {
            @extend %h3;
            font-size: 1em;
            color: $dark-blue;
            padding: 0.5rem;
        }
        
    }
}
input, textarea{
    width: 80%;
    background-color: #1971C2;
    outline: none;
    border: none;
    color: #F0F9FF;
    padding-left: 10px;
}

textarea{
    width: 85%;
    height: 20%;
}

.buttonform{
    border-radius: 30px;
    background-color: #F0F9FF;
    border: solid 1px #1971C2;
    color: #1971C2;
}

.button{
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    height: 8vh;
    background-color: #F0F9FF;
    .inform{
        font-size: 1em;
        color: #1971C2;
        text-decoration: none;
        padding-right: 1.5em;
        padding-top: 3vh;

    }
    p, a {
        @extend %p;
        color: $font-color-light;
    }
}
