
.home-page {
    display: flex;
    position: relative;
    height: 45rem;
    background-color: $light-blue;

    .logo {
    display: flex;
    align-items: center;
    padding-top: 3%;

    .logo_wraper {
        width: 10%;
    }

    img {
        width: 100%;
    }

    p {
        padding-left: 2%;
        padding-top: 1%;
        letter-spacing: 2px;
        color: $dark-blue;
        font: $font;

        font: {
        size: 16pt;
        weight: bold;
        }
    }
    }

    .content_home {
    padding-left: 10%;
    

    .help {
        width: 65%;
        padding-bottom: 15px;
        font: $font;
        font: {
        size: 14pt;
        weight: normal;
        }
    }
    .button-form {
        padding-left: 25%;
    }  
    }

    h1 {
    padding-top: 2%;
    padding-bottom: 4%;
    
    letter-spacing: 2px;
    color: #1971C2;

    font: $font;
    font-size: calc(20px + 23 * (100vw / 605));
    font-weight: bold;
    }

    .circle-wraper {
        display: flex;
        align-items: flex-end;
        width: 40%;
    }
    
    #circle {
    display: flex;
    align-self: flex-end;
    width: 100%;
    }

    #doctor {
        position: absolute;
        left: 80%;
        width: 20%;
    }

    button {
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    border: solid 1px $dark-blue;
    background-color: $dark-blue;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 1.5px;
    font: $font;
    font: {
        size: calc(10px + 6 * (100vw / 1200));
        weight: normal;
    }
    box-shadow: 0px 5px 10px 0px rgba(129, 129, 129, 0.5);
    }
}

.numbers-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 70%;
    height: 35%;
    right: 15%;
    bottom: 0;
    transform: translateY(50%);

    border-radius: 8px;
    box-shadow: 0px 5px 10px 0px rgba(129, 129, 129, 0.5);
    background: #FFFFFF;

    .numbers {
        font: $font;
        font: {
            size: calc(15px + 15 * (100vw / 1000));
            weight: bold;

        }
        color: $dark-blue;
    }

    p {
        display: flex;
        justify-content: center;
        letter-spacing: 2px;
        font: $font;
        font: {
            size: calc(10px + 6 * (100vw / 1200));
            weight: normal;
        }
        color: $dark-blue;
    }

    .vl {
        border-left: 1px solid $dark-blue;
        height: 50%;
    }
}

/*section about me*/
.about-me {
    display: flex;
    padding: 8%;

    .my-foto {
        width: 70%;
        img {
            width: 100%;
            border-radius: 15px;
        }
    }

    .about-me_content {
        padding-top: 1%;
        padding-left: 3%;
    
        h2 {
            font: $font;
            font: {
                size: calc(10px + 6 * (100vw / 1200));
                weight: bold;
    
            }
            color: $dark-blue;
        }
    
        h3 {
            font: $font;
            font: {
                size: calc(20px + 16 * (100vw / 1200));
                weight: bold;
            }
        }
    
        p {
            font: $font;
            font: {
                size: calc(10px + 6 * (100vw / 1200));
                weight: normal;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .about-me {
        display: flex;
        flex-direction: column;
    }
}

/**/

@media only screen and (max-width: 900px) {
    .home-page {
        height: 35rem;
    }

    .content_home {
        padding-top: 5%;
    }

    .numbers-block {
        height: 23%;
    }
}

@media only screen and (max-width: 600px) {
    .home-page {
        height: 35rem;
    }

    .content_home {
        width: 190%;
        height: 80%;
    }

    .circle-wraper{
        #circle {
            display: none;
        }
    }

    .numbers-block {
        height: 20%;
    }
}

@media only screen and (max-width: 450px) {
    .home-page {
        height: 570px;

        .content_home {
            width: 190%;
            height: 80%;
    
            .logo {
                p {
                    padding-top: 10px;
                    font-size: 16px;
                }
            }
        }

        .circle-wraper{
            #circle {
                display: none;
            }
            #doctor {
                display: none;
            }
        }
    }

    .numbers-block {
        margin: 0%;
        padding: 0%;
        display: none;
    }
}




