#cases {
    background-color: $light-blue;
    margin: 120px 0;
    height: fit-content;
    
    h3 {
        @extend %h3;
        color: $dark-blue;
        text-align: center;
        padding: 72px;
    }
}
// цитата
.quote__1 {
    position: relative;
    img {
        width: 44px;
        height: 31px;
        position: absolute;      
        left: 120px;

    }
    h2{
        @extend %h2;
        color: $dark-blue;
        margin-left: 144px;
        padding: 1em;
            
    }
}

    // Карусель
#carousel__reviews {
    width: 60%;
    margin: 0 auto;

    li {
        border: 2px solid $font-color-light;
        
    }
    
}
.carousel-item__reviews{

}

#carousel-inner__reviews {
   
    .reviews-card {
        width: 60%;
        margin: 72px auto;
        box-sizing: border-box;
        

        
        p {
            
            @extend %p;
        }
        span {
            color: $dark-blue;
            text-transform: uppercase;
        }

        span.reviews-card__patient {
            color: $dark-blue;
            text-transform: none;

        }

    }
}   
    .carousel-control-prev-icon, .carousel-control-next-icon {
        filter:url(#sea);
        
    }



