// Colors
$dark-blue: #1971C2;
$light-blue: #D0EBFF;
$bg-color:#F9F9F9;
$bg-color-cards:#F0F9FF;

$font-color-main:#212529;
$font-color-light:#F0F9FF;

// fonts

%h1 {
    font-family:'raleway';
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
}
%h2 {
    font-family: 'raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

%h3 {
    font-family: 'raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.08em;
    text-transform: uppercase;

}

%p {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: $font-color-main;
}

