// Colors
$dark-blue: #1971C2;
$light-blue: #D0EBFF;
$bg-color:#F9F9F9;
$bg-color-cards:#F0F9FF;

$font-color-main:#212529;
$font-color-light:#F0F9FF;

// fonts

%h1 {
    font-family:'raleway';
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
}