html {
  height: 100%;
}

header .nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .nav-menu > *:not(:last-child) {
  margin-right: 3rem;
}
header .nav-menu .links {
  display: flex;
}
header .nav-menu .links > *:not(:last-child) {
  margin-right: 1rem;
}
header .nav-menu .links a {
  color: #1971C2;
}
header .nav-menu button {
  padding: 0.25rem 0.5rem;
  border-radius: 30px;
  border: solid 1px #1971C2;
  background-color: transparent;
  color: #1971C2;
  cursor: pointer;
}
header .nav-menu img {
  cursor: pointer;
}
header div a {
  color: black;
}
header nav a {
  color: black;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#services > *:not(:last-child) {
  margin-bottom: 4rem;
}
#services .content {
  display: flex;
  flex-direction: column;
}
#services .content > *:not(:last-child) {
  margin-bottom: 4rem;
}
#services .content .row {
  display: flex;
  align-items: center;
}
#services .content .row > *:not(:last-child) {
  margin-right: 2rem;
}
#services .content .row .item {
  flex: 1;
  display: flex;
  align-items: center;
}
#services .content .row .item > *:not(:last-child) {
  margin-right: 1rem;
}
#services .content .row .item .checkmark {
  min-width: 34px;
  min-height: 34px;
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D0EBFF;
}
#services .content .row .item p {
  margin: 0;
}

#education .item, #work-experience .item {
  display: flex;
  flex: auto;
  overflow-y: auto;
  padding: 0 1rem 0 1rem;
}
#education .item .timeline, #work-experience .item .timeline {
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}
#education .item .timeline > div, #work-experience .item .timeline > div {
  position: relative;
}
#education .item .timeline > div > *:not(:last-child), #work-experience .item .timeline > div > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
#education .item .timeline > div:after, #work-experience .item .timeline > div:after {
  content: "";
  width: 2px;
  position: absolute;
  top: 0.5rem;
  bottom: 0;
  left: 139px;
  z-index: 1;
  background: #1971C2;
}
#education .item .timeline > div .year, #work-experience .item .timeline > div .year {
  position: relative;
  display: flex;
  align-items: center;
}
#education .item .timeline > div .year > *:not(:last-child), #work-experience .item .timeline > div .year > *:not(:last-child) {
  margin-right: 70px;
}
#education .item .timeline > div .year:first-child section, #work-experience .item .timeline > div .year:first-child section {
  margin-top: -1.3em;
  padding-bottom: 0;
}
#education .item .timeline > div .year h4, #work-experience .item .timeline > div .year h4 {
  min-width: 100px;
  text-align: right;
}
#education .item .timeline > div .year ul, #work-experience .item .timeline > div .year ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
}
@media (min-width: 62em) {
  #education .item .timeline > div .year ul, #work-experience .item .timeline > div .year ul {
    font-size: 1.1em;
  }
}
#education .item .timeline > div .year ul:last-child, #work-experience .item .timeline > div .year ul:last-child {
  margin-bottom: 0;
}
#education .item .timeline > div .year ul:first-of-type:after, #work-experience .item .timeline > div .year ul:first-of-type:after {
  content: "";
  width: 24px;
  height: 24px;
  background: #1971C2;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  left: 126px;
  top: 0;
  bottom: 0;
  z-index: 2;
  margin: auto;
}
#education .item .timeline > div .year ul li, #work-experience .item .timeline > div .year ul li {
  margin-left: 0.5rem;
}
#education .item .timeline > div .year ul li:not(:first-child), #work-experience .item .timeline > div .year ul li:not(:first-child) {
  margin-top: 0.5rem;
}/*# sourceMappingURL=style.css.map */