@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
//переменные
@import 'variables';
@import "homepage";
@import 'services';
@import 'reviwes';
@import 'patents';
@import 'certificates';
@import 'form';


/* шрифты */
@font-face {
  font-family: 'raleway';
  src: url('../assets/fonts/raleway-bold-webfont.woff2') format('woff2'),
  url('../assets/fonts/raleway-bold-webfont.woff') format('woff'),
  url('../assets/fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('../assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/raleway-regular-webfont.woff') format('woff'),
  url('../assets/fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/**/


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin row-gap($gap) {
  & > *:not(:last-child) {
    margin-right: $gap;
  }
}

@mixin column-gap($gap) {
  & > *:not(:last-child) {
    margin-bottom: $gap;
  }
}

html {
  height: 100%;
  overflow-x: hidden; /*для горизонтального*/
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.2;

  @media (max-width: 1024px) {
    display: block;
  }
}

header {
  background-color: $light-blue;
  padding: $large-padding 10% 0 10%; // percentage is used to meet header content padding TODO: improve
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;

  .navbar-toggler {
    display: none;
    color: $dark-blue;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    @include row-gap($xx-large-padding);

    &.collapse {
      &:not(.show) {
        display: flex;
      }
      &.show {
        display: flex;
      }
    }

    .links {
      display: flex;
      @include row-gap($default-padding);

      a {
        color: $dark-blue;
        white-space: nowrap;
        @extend %p;
      }
    }

    .action-buttons {
      display: flex;
      align-items: center;
      @include row-gap($xx-large-padding);

      button {
        padding: $extra-small-padding $small-padding;
        border-radius: 30px;
        border: solid 1px $dark-blue;
        background-color: transparent;
        color: $dark-blue;
        cursor: pointer;
      }
      a {
        @extend %p;
      }
      

      img {
        cursor: pointer;
      }
    }
  }

  @media (max-width: 1024px) {
    .navbar-toggler {
      display: initial;
    }

    .nav-menu {
      flex-direction: column;
      align-items: flex-end;
      @include column-gap($large-padding);
      @include row-gap(0);
      padding: $default-padding 0;

      &.collapse:not(.show) {
        display: none;
      }

      .links {
        flex-direction: column;
        @include column-gap($default-padding);
        @include row-gap(0);
      }

      button {
        margin-right: $default-padding;
      }
    }
  }

  div a {
    color: black;
  }

  nav a {
    color: black;
  }
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include column-gap($xxx-large-padding);

  .content {
    display: flex;
    flex-direction: column;
    @include column-gap($xxx-large-padding);

    .row {
      display: flex;
      align-items: center;
      @include row-gap($extra-large-padding);

      .item {
        flex: 1;
        display: flex;
        align-items: center;
        @include row-gap($default-padding);

        .checkmark {
          min-width: 34px;
          min-height: 34px;
          border-radius: 34px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $light-blue;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}

#work-experience {
  max-width: 812px; // due to design
  width: 100%;
  margin: 0 auto;
  padding: $large-padding;

  h2 {
    @extend %h2;
    
  }

  h4 {
    @extend %h4;
  }

  li {
    @extend %p;
  }
}

#education {
  margin-top: $xxx-large-padding;
  padding: $xxx-large-padding $large-padding;
  width: 100%;
  background: $dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .quote {
    color: $font-color-light;;

    h2 {
      margin-left: $extra-large-padding;
      @extend %h2;
    }

  }

  .timeline {
    color: #fff;
    max-width: 812px;
    width: 100%;

    h4 {
      @extend %h4;
      color: $font-color-light;
    }
  
    li {
      @extend %p;
      color: $font-color-light;
    }  

    > div {
      &:after {
        background: #fff;
      }

      .year ul:first-of-type:after {
        background: #fff;
        border: 2px solid $dark-blue;
      }
    }
  }
}

.timeline {
  margin-top: $xxx-large-padding;
  display: table; //*For Firefox

  // цвет таймлайна
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;

  > div {
    position: relative;
    @include column-gap($large-padding);

    &:after {
      content: '';
      width: 2px;
      position: absolute;
      top: .5rem;
      bottom: 0;
      left: 127px;
      z-index: 1;
      background: $dark-blue;

      @media (max-width: 370px) {
        left: 107px;
      }
    }

    .year {
      position: relative;
      display: flex;
      align-items: center;
      @include row-gap($xxx-large-padding);

      @media (max-width: 370px) {
        @include row-gap($large-padding);
      }

      &:first-child section {
        margin-top: -1.3em;
        padding-bottom: 0;
      }

      h4 {
        min-width: 90px;
        text-align: right;
        font-size: 1rem;
      }


      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 1em;

        @media (min-width: 62em) {
          font-size: 1.1em;
        }

        &:last-child {
          margin: {
            bottom: 0;
          }
        }

        &:first-of-type:after {
          content: '';
          width: 24px;
          height: 24px;
          background: $dark-blue;
          border: 2px solid #FFFFFF;
          position: absolute;
          left: 116px;
          top: -10px;
          bottom: 0;
          z-index: 2;
          margin: auto;
          @include border-radius(50%);

          @media (max-width: 370px) {
            left: 96px;
          }
        }

        li {
          font-size: 1rem;
          margin-left: $small-padding;

          &:not(:first-child) {
            margin-top: $small-padding;
          }
        }
      }

    }
  }
}






