@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.banner h1, .certificates h2 {
  font-family: 'raleway';
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
}

.quote__1 h2, #services h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

#cases h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

#carousel-inner__reviews .reviews-card p, #services p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #212529;
}

.home-page {
  display: flex;
  position: relative;
  height: 40rem;
  background-color: #D0EBFF;
}
.home-page .logo {
  display: flex;
  align-items: center;
  padding-top: 3%;
}
.home-page .logo .logo_wraper {
  width: 10%;
}
.home-page .logo img {
  width: 100%;
}
.home-page .logo p {
  padding-left: 2%;
  padding-top: 1%;
  letter-spacing: 2px;
  color: #1971C2;
  font-font: "raleway";
  font-size: 16pt;
  font-weight: bold;
}
.home-page .content_home {
  padding-left: 10%;
}
.home-page .content_home .help {
  width: 65%;
  padding-bottom: 15px;
  font-size: 14pt;
  font-weight: normal;
  font-font: "raleway";
}
.home-page .content_home .button-form {
  padding-left: 25%;
}
.home-page h1 {
  padding-top: 2%;
  padding-bottom: 4%;
  letter-spacing: 2px;
  color: #1971C2;
  font-font: "raleway";
  font-size: calc(20px + 3.8016528926vw);
  font-weight: bold;
}
.home-page .circle-wraper {
  display: flex;
  align-items: flex-end;
  width: 40%;
}
.home-page #circle {
  display: flex;
  align-self: flex-end;
  width: 100%;
}
.home-page button {
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  border: solid 1px #1971C2;
  background-color: #1971C2;
  color: #FFFFFF;
  cursor: pointer;
  letter-spacing: 1.5px;
  font-size: 16pt;
  font-weight: normal;
  font-font: "raleway";
}

.numbers-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 1077px;
  height: 210px;
  right: 15%;
  top: 630px;
  border-radius: 8px;
  background: #FFFFFF;
}
.numbers-block .numbers {
  font-size: 35pt;
  font-weight: bold;
  font-font: "raleway";
  color: #1971C2;
}
.numbers-block p {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  font-size: 16pt;
  font-weight: normal;
  font-font: "raleway";
  color: #1971C2;
}

#services {
  background-color: #F9F9F9;
}
#services h2 {
  margin: 15rem 144px 0;
  text-align: center;
  line-height: 180%;
}
#services .content {
  margin: 0 144px 72px;
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  #services h2 {
    font-size: 2em;
    margin-left: 48px;
    margin-right: 48px;
    text-align: center;
  }
  #services .content {
    margin: 0 72px 48px;
  }
  #services p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 599px) {
  #services h2 {
    font-size: 1em;
    margin-left: 24px;
    margin-right: 24px;
    line-height: 150%;
    text-align: center;
  }
  #services .content {
    margin: 0 24px 48px;
  }
  #services p {
    font-size: 0.5em;
  }
}
#cases {
  background-color: #D0EBFF;
  margin: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#cases h3 {
  color: #1971C2;
  text-align: center;
  padding: 72px;
}

.quote__1 {
  position: relative;
}
.quote__1 img {
  width: 44px;
  height: 31px;
  position: absolute;
  left: 120px;
}
.quote__1 h2 {
  color: #1971C2;
  margin-left: 144px;
  padding: 1em;
}

#carousel__reviews {
  width: 60%;
  margin: 0 auto;
}
#carousel__reviews li {
  border: 2px solid #F0F9FF;
}

#carousel-inner__reviews .reviews-card {
  width: 60%;
  margin: 72px auto;
  box-sizing: border-box;
}
#carousel-inner__reviews .reviews-card span {
  color: #1971C2;
  text-transform: uppercase;
}
#carousel-inner__reviews .reviews-card span.reviews-card__patient {
  color: #1971C2;
  text-transform: none;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  #cases h3 {
    font-weight: 700;
    font-size: 0.75em;
    line-height: 120%;
    padding: 60px;
  }

  .quote__1 {
    position: relative;
  }
  .quote__1 img {
    width: 40px;
    height: 28px;
    position: absolute;
    left: 72px;
  }
  .quote__1 h2 {
    font-size: 2em;
    margin-left: 100px;
    padding: 1em;
  }

  #carousel__reviews {
    width: 80%;
    margin: 0 auto;
  }
  #carousel__reviews li {
    border: 1px solid #F0F9FF;
  }

  #carousel-inner__reviews .reviews-card {
    width: 70%;
    margin: 72px auto;
    box-sizing: border-box;
  }
  #carousel-inner__reviews .reviews-card p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 599px) {
  #cases h3 {
    font-size: 0.5em;
    line-height: 80%;
    padding: 24px 24px 0 24px;
  }

  .quote__1 {
    position: relative;
  }
  .quote__1 img {
    width: 25px;
    height: 18px;
    position: absolute;
    left: 24px;
  }
  .quote__1 h2 {
    font-size: 1em;
    margin-left: 48px;
    line-height: 150%;
  }

  #carousel__reviews {
    width: 100%;
    margin: 0 auto;
  }
  #carousel__reviews li {
    border: 0.5px solid #F0F9FF;
  }

  #carousel-inner__reviews .reviews-card {
    width: 70%;
    margin: 48px auto;
    box-sizing: border-box;
  }
  #carousel-inner__reviews .reviews-card p {
    font-size: 0.5em;
  }
}
.patents__description, .patents__banner {
  width: 84vw;
  height: 35vh;
  margin: 0 auto;
}

.carousel-inner-2 img, .patents__video video, .patents__banner img {
  width: 100%;
  height: 100%;
}

.patents {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

.patents__banner {
  padding: 2em;
  border-radius: 10px;
  background-color: #1971C2;
}
.patents__banner div {
  width: 20%;
  height: 20%;
}
.patents__banner h2 {
  margin: 0.4em 0 0.4em 2.5em;
  font-family: "raleway";
  font-size: calc(20px + 2.8063282702vw);
  font-weight: 700;
  color: #F9F9F9;
  letter-spacing: 1.5px;
  line-height: 130%;
}

.patents__video {
  width: 45vw;
  height: 50vh;
  align-self: center;
  margin: 2rem 0 2rem 0;
}
.patents__description {
  display: flex;
  justify-content: center;
  gap: 5vw;
  height: auto;
}
@media (max-width: 540px) {
  .patents__description {
    flex-direction: column;
  }
}
.patents__description .patents__1, .patents__description .patents__2 {
  text-align: center;
  padding: 2rem;
  background-color: #F0F9FF;
}
.patents__description h3 {
  margin-bottom: 2.7em;
  font-size: calc(0.87rem + 0.3vw);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.patents__description p {
  margin-bottom: 2em;
  font-size: calc(0.87rem + 0.3vw);
  font-weight: 300;
  letter-spacing: 1px;
}
.patents__description button {
  display: inline-block;
  font-size: calc(0.87rem + 0.3vw);
  letter-spacing: 1px;
  background: #1971C2;
  color: #fff;
  padding: 0.9rem 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 40px;
  border: none;
}
.patents__description button:hover {
  cursor: pointer;
  transform: scale(1.07);
  box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.15);
  transition: 0.4s ease;
}

.certificates h2 {
  text-align: center;
  font-size: 16pt;
  margin: 2rem 0;
  text-transform: uppercase;
  color: #1971C2;
}
.certificates .carousel-item {
  display: flex;
  margin: 0;
  padding: 0 1rem;
  gap: 3vw;
}

.carousel-inner-2 {
  margin: 0;
  padding: 0 1rem;
}
.carousel-item .active {
  display: flex;
  gap: 3vw;
  padding: 3rem;
}

.form {
  background-color: #1971C2;
  height: 768px;
}
.form .mainform {
  display: block;
  position: absolute;
  width: 651px;
  height: 361px;
  left: 600px;
  margin-top: 100px;
  color: #F0F9FF;
  font-size: 24px;
}
.form .mainform p {
  font-size: 30px;
}

input, textarea {
  width: 500px;
  background-color: #1971C2;
  outline: none;
  border: none;
  color: #F0F9FF;
  padding-left: 10px;
}

textarea {
  width: 600px;
  height: 100px;
}

.buttonform {
  border-radius: 30px;
  width: 182px;
  height: 56px;
  background-color: #F0F9FF;
  border: solid 1px #1971C2;
  color: #1971C2;
}

.button {
  display: block;
  position: absolute;
  left: 230px;
}

/* шрифты */
@font-face {
  font-family: "raleway";
  src: url("/assets/fonts/raleway-bold-webfont.woff2") format("woff2"), url("/assets/fonts/raleway-bold-webfont.woff") format("woff"), url("/assets/fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "raleway";
  src: url("/assets/fonts/raleway-regular-webfont.woff2") format("woff2"), url("/assets/fonts/raleway-regular-webfont.woff") format("woff"), url("/assets/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**/
html {
  height: 100%;
  overflow-x: hidden;
  /*для горизонтального*/
}

header .nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #D0EBFF;
}
header .nav-menu > *:not(:last-child) {
  margin-right: 3rem;
}
header .nav-menu .links {
  display: flex;
}
header .nav-menu .links > *:not(:last-child) {
  margin-right: 1rem;
}
header .nav-menu .links a {
  color: #1971C2;
}
header .nav-menu button {
  padding: 0.25rem 0.5rem;
  border-radius: 30px;
  border: solid 1px #1971C2;
  background-color: transparent;
  color: #1971C2;
  cursor: pointer;
}
header .nav-menu img {
  cursor: pointer;
}
header div a {
  color: black;
}
header nav a {
  color: black;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#services > *:not(:last-child) {
  margin-bottom: 4rem;
}
#services .content {
  display: flex;
  flex-direction: column;
}
#services .content > *:not(:last-child) {
  margin-bottom: 4rem;
}
#services .content .row {
  display: flex;
  align-items: center;
}
#services .content .row > *:not(:last-child) {
  margin-right: 2rem;
}
#services .content .row .item {
  flex: 1;
  display: flex;
  align-items: center;
}
#services .content .row .item > *:not(:last-child) {
  margin-right: 1rem;
}
#services .content .row .item .checkmark {
  min-width: 34px;
  min-height: 34px;
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D0EBFF;
}
#services .content .row .item p {
  margin: 0;
}

#education .item, #work-experience .item {
  display: flex;
  flex: auto;
  overflow-y: auto;
  padding: 0 1rem 0 1rem;
}
#education .item .timeline, #work-experience .item .timeline {
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}
#education .item .timeline > div, #work-experience .item .timeline > div {
  position: relative;
}
#education .item .timeline > div > *:not(:last-child), #work-experience .item .timeline > div > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
#education .item .timeline > div:after, #work-experience .item .timeline > div:after {
  content: "";
  width: 2px;
  position: absolute;
  top: 0.5rem;
  bottom: 0;
  left: 139px;
  z-index: 1;
  background: #1971C2;
}
#education .item .timeline > div .year, #work-experience .item .timeline > div .year {
  position: relative;
  display: flex;
  align-items: center;
}
#education .item .timeline > div .year > *:not(:last-child), #work-experience .item .timeline > div .year > *:not(:last-child) {
  margin-right: 70px;
}
#education .item .timeline > div .year:first-child section, #work-experience .item .timeline > div .year:first-child section {
  margin-top: -1.3em;
  padding-bottom: 0;
}
#education .item .timeline > div .year h4, #work-experience .item .timeline > div .year h4 {
  min-width: 100px;
  text-align: right;
}
#education .item .timeline > div .year ul, #work-experience .item .timeline > div .year ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
}
@media (min-width: 62em) {
  #education .item .timeline > div .year ul, #work-experience .item .timeline > div .year ul {
    font-size: 1.1em;
  }
}
#education .item .timeline > div .year ul:last-child, #work-experience .item .timeline > div .year ul:last-child {
  margin-bottom: 0;
}
#education .item .timeline > div .year ul:first-of-type:after, #work-experience .item .timeline > div .year ul:first-of-type:after {
  content: "";
  width: 24px;
  height: 24px;
  background: #1971C2;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  left: 126px;
  top: 0;
  bottom: 0;
  z-index: 2;
  margin: auto;
}
#education .item .timeline > div .year ul li, #work-experience .item .timeline > div .year ul li {
  margin-left: 0.5rem;
}
#education .item .timeline > div .year ul li:not(:first-child), #work-experience .item .timeline > div .year ul li:not(:first-child) {
  margin-top: 0.5rem;
}/*# sourceMappingURL=style.css.map */