header {
  display: flex;
  justify-content: space-between;
  div a{
    color: black;
  }
  nav a{
    color: black;
  }
}

section {
  .flex-item{
    display: flex;
  }
}

html {
  height: 100%;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}



div.item {
  display: flex;
  flex: auto;
  overflow-y: auto;
  padding: 0 1rem 0 1rem;
}

#timeline, #timeline2 {
  position: relative;
  display: table; //*For Firefox
  height: 100%;
  margin: {
    left: auto;
    right: auto;
    top: 5rem;
  }

// цвет таймлайна
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #79838c;

  div {
    &:after {
      content: '';
      width: 2px;
      position: absolute;
      top: .5rem;
      bottom: 0;
      left: 60px;
      z-index: 1;
      background: #C5C5C5;
    }
  }

  section.year {
    position: relative;
    &:first-child section{
      margin-top: -1.3em;
      padding-bottom: 0;
    }
    section {
      position: relative;
      padding-bottom: 1.25em;
      margin-bottom: 2.2em;
      h4 {
        position: absolute;
        bottom: 0;
        font: {
          size: .9em;
          weight: 400;
        }
        line-height: 1.2em;
        margin: 0;
        padding: 0 0 0 89px;
        color: #C5C5C5;
        @media (min-width: 62em) {
          font-size: 1em;
        }
      }
      ul {
        list-style-type: none;
        padding: 0 0 0 75px;
        margin: -1.35rem 0 1em;
        max-width: 32rem;
        font-size: 1em;
        @media (min-width: 62em) {
          font-size: 1.1em;
          padding: 0 0 0 81px;
        }
        &:last-child {
          margin: {
            bottom: 0;
          }
        }
        &:first-of-type:after {
          content: '';
          width: 10px;
          height: 10px;
          background: #C5C5C5;
          border: 2px solid #FFFFFF;
          @include border-radius(50%);
          position: absolute;
          left: 54px;
          top: 3px;
          z-index: 2;
        }
        li {
          margin-left: .5rem;
          &:before {
            content: '·';
            margin-left: -.5rem;
            padding-right: .3rem;
          }
          &:not(:first-child) {
            margin-top: .5rem;
          }
        }
      }
    }
  }
}

